{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Web Devlop</title>
</head>

<body>
  <div class="container mt-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="font-family:fantasy; font-size: 50px; background-color: rgb(123, 142, 207); text-align:center">TUTOR-TOWN
        </h2>
        <p class="lead ">The system of private tuitions has been in existence in India for a long time but in recent times it has grown manifold affecting the very core of educational system. ​<br/>
          The time for the students and parents for searching the tutor at affordable price will be eliminated.​<br/>
        Tutors Just registering with Tutor-town will get the Students and will will have the opportunity to share a wealth of knowledge, experience and  academic degrees he / she possess.</p>
      </div>
      <div class="col-md-5">
        <img class="img-fluid" src="{% static 'New folder/Tuton logo.png' %}" width="400" height="300" alt="">
      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center mt-3">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" style="background-color: rgb(123, 142, 207);text-align:center;font-family:fantasy; font-size: 40px;"">About Tutor-Town</h2>
        <p class="lead">An online platform with the benefits for Tutors, Students and Parents to get the students and teachers/tutors easily.
          <br>
          The tutor can get the students just by logging into the system and by setting up their profile. ​<br/>

The student will search the tutor according to his requirement and will send the request to join with the specific standard along with the specific subject.<br/> ​
This platform will help the tutor to send the documents and can update the reports and attendance of the student which will be helpful for the student to view and download the documents send by the tutor and also his reports/marks and attendance.​<br/>

 The parents will able to see their child progress details and attendance and can pay the online fees to the tutor.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-fluid" src="https://cdn.dribbble.com/users/1025838/screenshots/6220885/devguy3.gif" width="400" height="500" alt="">
      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center mt-3">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="background-color: rgb(123, 142, 207);text-align:center; font-family: fantasy;" >Strong Point Of Tutor-Town!!
        </h2>
        <p class="lead" style="font-size: 22px;">
          * Elimination of travel time for both parents and tutors.<br/>
          * Parents can get highly qualified tutors at afford and academic degrees which they have.</p>
      </div>
      <div class="col-md-5">
        <img class="img-fluid" src="{% static 'New folder/Online-tutors-Texas.jpg' %}" width="400" height="300" alt="">
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row ">
      
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4 m-auto">
        <div class="card">
          <img src="{% static 'image/cardimg-2-min.png' %}" height="300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ms.Bhoomika Manghwani</h5>
            <p class="card-text">Ex-4 year(Software Testing)</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4 m-auto">
        <div class="card">
          <img src="{% static 'image/cardimg-2-min.png' %}" height="300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ms.Purvangi Koshti</h5>
            <p class="card-text">Ex-4 year(Software Testing)</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4 m-auto">
        <div class="card">
          <img src="{% static 'image/cardimg-3-min.jpg' %}" height="300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mr.Kamlesh Sharma </h5>
            <p class="card-text">Ex-7 year(Digital Marketing)</p>
          </div>
        </div>
      </div>
    
    </div>
    </div>
  <footer class="text-white bg-dark w-100 p-5 h-50 d-inline-block mt-2">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2020-2021 Company, Inc.<a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
  
</body>

</html>
{% endblock %}