{% extends 'tutor_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
    <style type="text/css">
        table {
  border-collapse: separate;
  border-spacing:10px;
    }
    </style>
</head>

<body>
	<div>

				<div class="content-body">
                    <!-- row -->
                    <div class="container-fluid">
                        
                        <div class="row page-titles mx-0">
                            <div class="col-sm-6 p-md-0">
                                <div class="welcome-text">
                                    <h4>PAYMENT</h4>
                                </div>
                            </div>
                            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Payment Details</a></li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">All Payment Details</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="example4" class="display" style="min-width: 845px; padding: 10px;">
                                                  

                                                <thead>
                                                    <tr>
                                                        <th>Student Name</th>
                                                        <th>Student Mobile</th>
                                                        <th>Student Email</th>
                                                        <th>Total Fees </th>
                                                        <th>Payment Status </th>
                                                        <!-- <th>Payment Due Date </th> -->
                                                        <th>Payment  Date </th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr> 
                                                        <td>Sachidananad</td>
                                                        <td>7548645784</td>
                                                        <td>guptasachidanand@gmail.com</td>
                                                        <td>3000</td>
                                                        <td><i class="fa fa-check" style="font-size:20px;color:green;"></i>Complete</td>
                                                        <!-- <td>1/02/2021</td> -->
                                                        <td>06/04/2021</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
		<!--**********************************
            Content body end
        ***********************************-->


		<!--**********************************
            Footer start
        ***********************************-->
		
		<!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

		<!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
	<!-- <script src="{% static 'vendor/global/global.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'js/custom.min.js' %}"></script>
	<script src="{% static 'js/dlabnav-init.js' %}"></script> -->

	<!-- Datatable -->
	<!-- <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/plugins-init/datatables.init.js' %}"></script> -->

	<!-- Svganimation scripts -->
	<!-- <script src="{% static 'vendor/svganimation/vivus.min.js' %}"></script>
    <script src="{% static 'vendor/svganimation/svg.animation.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script> -->

	<script>
		$(document).ready(function () {
			console.log("ready!");
		});
	</script>
</body>

</html>
{% endblock %}