
{% extends 'tutor_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
    <script>
        
    </script>
</head>

<body>
	<div>

				<div class="content-body">
                    <!-- row -->
                    <div class="container-fluid">
                        
                        <div class="row page-titles mx-0">
                            <div class="col-sm-6 p-md-0">
                                <div class="welcome-text">
                                    <h4>Attendance</h4>
                                </div>
                            </div>
                            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="tutor_index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="attendance.html">Attendance</a></li>
                                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Take-Attendance</a></li>
                                </ol>
                            </div>
                        </div>
                        
                        <div class="row ">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title"></h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Date</label>
                                                <input type="date" class="form-control" name="bday" width="100px">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Time</label>
                                                <select name="btime" id="cars">
                                               
                                                    <option value=""  class="form-control" name="btime"></option>
                                               
                                                </select>
                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="example4" class="display" style="min-width: 845px">
                                                <thead>
                                                    <tr>
                                                        <th>Present/Absent</th>
                                                        <th>Student Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                    </tr>
                                                    
                                                    <tr>
                                                        <td>
                                                        <input type="checkbox" id="attendance" value="Present" name="std">&nbsp;&nbsp;Present</td>
                                                        <th></th>
                                                       
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <center><input type="submit"></center>
                                    <!-- <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="example4" class="display" style="min-width: 845px">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" id="attendance" value="Absent">Absent
                                                        <input type="checkbox" id="attendance" value="Present">Present</th>
                                                        <th>01 </th>
                                                        <th>Kamlesh Sharma</th>
                                                        <th>Present/Absent</th>
                                                        <th>Student Roll-Number</th>
                                                        <th>Kamlesh Sharma</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
		<!--**********************************
            Content body end
        ***********************************-->


		<!--**********************************
            Footer start
        ***********************************-->
		
		<!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

		<!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
	<!-- <script src="{% static 'vendor/global/global.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'js/custom.min.js' %}"></script>
	<script src="{% static 'js/dlabnav-init.js' %}"></script> -->

	<!-- Datatable -->
	<!-- <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/plugins-init/datatables.init.js' %}"></script> -->

	<!-- Svganimation scripts -->
	<!-- <script src="{% static 'vendor/svganimation/vivus.min.js' %}"></script>
    <script src="{% static 'vendor/svganimation/svg.animation.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script> -->

	<script>
		$(document).ready(function () {
			console.log("ready!");
		});
	</script>
</body>

</html>
{% endblock %}