{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tutor-Town</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRZkPkgZVuMQYFcqrB750dgo7Kn7bjBcbJIQ&amp;usqp=CAU" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/tutorial.css' %}">
  <title>Tutorial Point</title>
  <style>
    .btn{
   background-color: black;
    width: 100px;
    border-radius: 45px 42px;
    }
  </style>
 <!-- <script type="text/javascript">
   window.history.forward();
   function noback()
   {
    window.history.forward();
   }
 </script> -->
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-info py-3 " style="    background-color: #804c16!important;">
    <div class="container-fluid">
      <img class="navbar-brand" src="{% static 'New folder/Tuton logo.png' %}" width="70" height="50" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'contact' %}">Contact us</a>
            </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'visitor_all_tutor' %}">All-Tutors</a>
            </li>
          <li class="nav-item">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </li>
        </ul>
        <div class="mx-2">
          <button style="background-color: black;width: 100px;border-radius: 45px 42px; border-block: revert;" class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#loginModal" href="'{% url 'login' %}';" >Login</button>
          <button style="background-color: black;width: 100px;border-radius: 45px 42px; border-block: revert;" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#signupModal"  href="'{% url 'signup' %}';">SignUp</button>
        </div>
      </div>
    </div>
  </nav></body>
</html>
{% block content %}
{% endblock %}