{% extends 'parent_header.html'%}
{% block content%}
<!DOCTYPE html>
<html>
<head>
    <title>Tutor-Town</title>
    <!-- <script type="text/javascript">
    	if(window.history.replaceState){
    		window.history.replaceState(null,null,window.location.href);
    	}
    </script> -->
</head>
<body>
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
        
            <div class="row">
                <!-- <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card bg-primary overflow-hidden">
                        <div class="card-header">
                            <h3 class="card-title text-white">Total Students</h3>
                            <h5 class="text-white mb-0"><i class="fa fa-caret-up"></i></h5>
                        </div>
                        <div class="card-body text-center mt-3">
                            <div class="ico-sparkline">
                                <h3 class="card-title text-white" style="font-size:70px">12</h3>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="font-size:40px">MY STUDENT ATTENDANCE REPORT </h4>
                        </div>
                        <form method="post" action="{% url 'parent_attendance_report' %}">
                            {% csrf_token %}
                            <select name="filter_name">
                                <option><---Select Filter---></option>
                                <option value="bnum">All</option>
                                <option value="bnum">Batch Number</option>
                                <option value="datetime">DATE</option>
                                <option value="astatus">Absent</option>
                                <option value="astatus">Present</option>
                                <option value="fname">Tutor Name</option>
                            </select>
                            <input type="text" id="search" name="search">
                           
                            <input type="submit" name="action" value="search">
                            
                             <input type="submit" name="action" value="export"/>

                        </form>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm mb-0 table-striped">
                                    <thead >
                                        <tr>
                                            <th class="py-3" style="font-size: 15px;">STUDENT NAME</th>
                                            <th class="py-3" style="font-size: 15px;">TUTOR NAME</th>
                                            <th class="py-3" style="font-size: 15px;">SUBJECT</th>
                                            <th class="py-3" style="font-size: 15px;">DATE</th>
                                            <th class="py-3" style="font-size: 15px;">BATCH TIME</th>
                                            <th class="py-3" style="font-size: 15px;">BATCH NO.</th>
                                            <!-- <th class="py-3" style="font-size: 15px;">Date Of Admit</th> -->
                                            <th class="py-3" style="font-size: 15px;">Attendance Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for i in attendance %}
                                        <tr>
                                            <td class="py-3">{{i.student.fname}} {{i.student.lname}}</td>
                                            <td class="py-3">{{i.tutor.fname}}</td>
                                            <td class="py-3">{{i.add_batch.bsubject}}</td>
                                            <td class="py-3">{{i.datetime}}</td>
                                            <td class="py-3">{{i.add_batch.btime}}</td>
                                            <td class="py-3">{{i.add_batch.bnum}}</td>
                                            {% if i.astatus == "Present" %}
                                                <td >{{i.astatus}}</td>
                                                <td class="py-3"></td>
                                            {% else %}
                                                <td >{{i.astatus}}</td>
                                                <td class="py-3"></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>  
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}