{% extends 'parent_header.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript">
        if(window.history.replaceState){
            window.history.replaceState(null,null,window.location.href);
        }
    </script>
</head>
<body>
<body class="h-100"  style="background-image:url({% static 'images/book2.jpg' %}); background-repate:no-repeat; background-size:cover;">
    <div class="authincation h-100" style="">
        <div class="container h-100">
                <div class="col-md-6" style="margin-top: 100px;">
                    <div class="authincation-content" style="opacity: 0.8;margin-left: 188px;margin-right: -97px; margin-top: 161px;">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form" style="font-size:initial;" >
                                    {% if msg %}
                                        <center><h3>{{msg}}</h3></center>
                                    {% endif %}
                                    <h2 class="text-center mb-4">Change Password</h2>
                                    <form action="{% url 'change_password' %}" method="POST" name="myForm">
                                        {% csrf_token %}
                                       
                                         <div class="form-group">
                                            
                                            <input type="password" class="form-control" name="opassword" placeholder="Enter Old Password">
                                        </div>
                                        
                                        <div class="form-group">
                                            
                                            <input type="password" class="form-control" name="npassword" placeholder="Enter New Password">
                                        </div>
                                        <div class="form-group">
                                            
                                            <input type="password" class="form-control" name="cnpassword" placeholder="Enter Confirm Password">
                                        </div>
                                        
                                        <div class="text-center">
                                            <button type="submit" style="background-color: #2b1803;" class="btn btn-primary btn-block">Change Password</button>
                                        </div>
                                       
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--**********************************
            Footer start
        ***********************************-->
        <div class="footer" style="font-size: initial; background-color: lightslategray; height:100px; margin-top: 200px;">
            <div class="copyright" >
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignlab.com/" target="_blank">DexignLab</a> 2020</p>
            </div>
           
        </div>
        <!--**********************************
        Footer end
***********************************-->
<!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <!-- <script src="{% static 'vendor/global/global.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/dlabnav-init.js' %}"></script>
    <script src="{% static 'vendor/global/global.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/dlabnav-init.js' %}"></script> -->

    <!-- Chart ChartJS plugin files -->
    <!-- <script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script> -->
    
    <!-- Chart piety plugin files -->
    <!-- <script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script> -->
    
    <!-- Chart sparkline plugin files -->
    <!-- <script src="{% static 'vendor/jquery-sparkline/jquery.sparkline.min.js' %}"></script> -->
    
        <!-- Demo scripts -->
    <!-- <script src="{% static 'js/dashboard/dashboard-3.js' %}"></script> -->
    
    <!-- Svganimation scripts -->
<!--     <script src="{% static 'vendor/svganimation/vivus.min.js' %}"></script>
    <script src="{% static 'vendor/svganimation/svg.animation.js' %}"></script> -->
    <!-- <script src="{% static 'js/styleSwitcher.js' %}"></script> -->
    

<!-- </body>
</body>
</html> -->
{% endblock %}
