{% extends 'tutor_header.html'%}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Tutor-Town</title>
    <!-- <script type="text/javascript">
    	if(window.history.replaceState){
    		window.history.replaceState(null,null,window.location.href);
    	}
    </script> -->
</head>
<body>
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
        
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="font-size:40px">Content List </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm mb-0 table-striped">
                                    <thead >
                                        <tr>
                                            <th class=" py-3" style="font-size: 15px;">Student Name</th>
                                            <th class="py-3" style="font-size: 15px;">Batch No.</th>
                                            <th class="py-3" style="font-size: 15px;">Subject</th>
                                            <th class="py-3" style="font-size: 15px;">Batch Name</th>
                                            <th class="py-3" style="font-size: 15px;">Date</th>
                                            <th class="py-3" style="font-size: 15px;">Document</th>
                                            <th class="py-3" style="font-size: 15px;">Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in content_by_student %}
                                        <tr>
                                            <td class=" py-3" style="font-size: 15px;">{{i.student.fname}}</td>
                                            <td class="py-3" style="font-size: 15px;">{{bnum}}</td>
                                            <td class="py-3" style="font-size: 15px;">{{bsubject}}</td>
                                            <td class="py-3" style="font-size: 15px;">{{bname}}</td>
                                            <td class="py-3" style="font-size: 15px;">{{bname}}</td>
                                            <td class="py-3" style="font-size: 15px;">{{i.fname}}</td>
                                            <td class="py-3" style="font-size: 15px;"><a href="{{i.fname.url}}"><input type="button"  class="btn btn-primary " style=" background-color:  #095206fd; border-radius: 45px 42px; margin-right: 70px;" value="Download"></a></td>
                                           
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>

                                    <!--  -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}